/* Remove margins and HTML scrollbars */
BODY, HTML {
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
}

#html5Canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    border-color: palegoldenrod;
    border-width: 6px;
    border-style: ridge;
    margin: auto;
    background-color: #000;
}

